[build]
  command = "pnpm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  PNPM_FLAGS = "--no-frozen-lockfile"

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-lighthouse"
